body {
  font-family: Arial;
  margin: 30px;
}

table {
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

#total {
  font-weight: bold;
  margin-top: 10px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

input {
  margin-right: 10px;
}
h6{
  color: blueviolet;
}

